@color_b_active: #9DBFD3;
@color_b_inactive: lighten(@color_b_active, 10%);

.sidebar_width {
  width: 200px;
}

.sidebar_position {
  position: relative;
}

.text_align_center {
  text_align: center;
}

.width_150px {
  width: 150px;
}

.border_0 {
  border: 0;
}

.border_radius_4px {
  border-radius: 4px;
}

.margin_2px {
  margin: 2px;
}

.background_color_a_hover {
  background-color: @color_b_inactive;
}

.background_color_a_hover:hover {
  background-color: @color_b_active;
}
